.calculator {
  margin: 100px auto;
  width: 360px;
  height: 525px;
}

.header {
  position:relative;
  background-color: black;
  height: 20%;
  color: white;
  font-size: 25px;
}

.header span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.row {
  width: 100%;
}

.grey-button {
  background-color: #e0e1e6;
  color: #888;
}

.orange-button {
  background-color: #fe9241;
  color: white;
  border-right: 1px solid #999 !important;
}

.clearRow {
  font-size: 20px;
  text-align: center;
  padding: 33px 0;
  background-color: #ccc;
  border: 1px solid #bbb;
  border-top: none;
}

.button {
  display: inline-block;
  padding: 33px 0;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-right: none;
  border-top: none;
  font-size: 20px;
}
